<main class="form-signin w-100 m-auto">
<form [formGroup]="Registrationform" (submit)= "submitRegisterForm()">
    <h1> Chat Gpt Research Tool - Register</h1>

    <input formControlName="name" type="name" class="form-control" placeholder="Your Name" required>
    <input formControlName="email" type="email" class="form-control" placeholder="name@example.com" required>
    <input formControlName="password" type="password" class="form-control" placeholder="Password" required>
    <mat-form-field>
        <mat-label>Account Type</mat-label>
        <mat-select formControlName="account_type" aria-required="true">
            <mat-option value="1">Participant</mat-option>
            <mat-option value="2">Researcher</mat-option>
        </mat-select>
    </mat-form-field>
    <button class="btn btn-primary w-100 py-2" type="submit">Submit Registration</button>
  </form>
</main>