<div class="container col-xxl-8 px-4 py-5">
    <h2>Enter Study Details</h2>
    <form [formGroup]="CreateProjectForm">
    <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
        <mat-step>
            <ng-template matStepLabel>Enter Study Name</ng-template>
            <mat-form-field style="margin-top: 15px;">
            <mat-label>Study Name</mat-label>
            <input matInput placeholder="Ex. How children interact with ChatGpt?" formControlName="study_name" required>
            </mat-form-field>
            <div>
            <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Upload IRB</ng-template>
            <mat-form-field style="margin-top: 15px;">
            <mat-label>IRB Copy</mat-label>
            <input matInput formControlName="irb_pdf" placeholder="Ex. IRB_Study_2024.pdf"
                    required>
            </mat-form-field>
            <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Pre Study Questionnaire</ng-template>
            <mat-form-field style="margin-top: 15px;">
            <mat-label>Qualtrics Questionnaire Embed Link</mat-label>
            <input matInput formControlName="pre_study_questionnaire" placeholder="Ex. http://https://achasurveying.co1.qualtrics.com/jfe/form/SV_1SIY"
                    required>
            </mat-form-field>
            <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Participant questions for the study</ng-template>
            <mat-form-field style="margin-top: 15px;">
            <mat-label>List of Questions</mat-label>
            <input matInput formControlName="questions_list" placeholder="Ask ChatGpt to reccomend you recipies."
                    required>
            </mat-form-field>
            <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Post Study Questionnaire</ng-template>
            <mat-form-field style="margin-top: 15px;">
            <mat-label>Qualtrics Questionnaire Embed Link</mat-label>
            <input matInput formControlName="post_study_questionnaire" placeholder="Ex. http://https://achasurveying.co1.qualtrics.com/jfe/form/SV_1SIY"
                    required>
            </mat-form-field>
            <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious style="margin-right: 15px;">Back</button>
            <button mat-button (click)="stepper.reset()" style="margin-right: 15px;">Reset</button>
            <button class="btn btn-primary" style="margin-right: 15px;">Create Study</button>
        </div>
        </mat-step>
    </mat-stepper>
    </form>
</div>