<div class="container col-xxl-8 px-4 py-5" *ngIf="UserService">
    <h2>Enter Study Details</h2>
    <form [formGroup]="CreateProjectForm" enctype="multipart/form-data">
    <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
        <mat-step [stepControl]="CreateProjectForm.controls.study_name">
            <ng-template matStepLabel>Enter Study Name</ng-template>
            <mat-form-field title="Only english letters, numbers,spaces and _ ? - are allowed, no other characters are allowed." style="margin-top: 15px;width: 500px !important;">
            <mat-label>Study Name</mat-label>
            <input matInput placeholder="Ex. How children interact with ChatGpt" formControlName="study_name" required>
            </mat-form-field>
            <div>
            <button mat-button matStepperNext type="button">Next</button>
            </div>
        </mat-step>
        <mat-step [stepControl]="CreateProjectForm.controls.irb_pdf">
            <ng-template matStepLabel>Upload IRB</ng-template>
            <input type="file" class="file-input" (change)="onFileSelected($event)" placeholder="Ex. IRB_Study_2024.pdf" accept="application/pdf," required #fileUpload>
             <div class="file-upload" style="margin-bottom: 15px;">
             
                {{fileName || "No file uploaded yet."}}
             
                 <button type="button" mat-mini-fab color="primary"
                   (click)="fileUpload.click()" style="margin-left: 15px;">
                     <mat-icon>attach_file</mat-icon>
                 </button>
             </div>
             <mat-form-field style="margin-top: 15px;width: 500px !important;" [hidden]="true">
                <input matInput formControlName="irb_pdf" required>
            </mat-form-field>
            <div *ngIf="fileName">
                <object width="400" height="500" type="application/pdf" [data]="fileURL">
                    <p>Insert your error message here, if the PDF cannot be displayed.</p>
                </object>
            </div>
            <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext [disabled] = "!fileName" type="button" >Next</button>
            </div>
        </mat-step>
        <mat-step [stepControl]="CreateProjectForm.controls.pre_study_questionnaire">
            <ng-template matStepLabel>Pre Study Questionnaire</ng-template>
            <mat-form-field style="margin-top: 15px;width: 500px !important;">
            <mat-label>Qualtrics Questionnaire Embed Link</mat-label>
            <input matInput formControlName="pre_study_questionnaire" placeholder="Ex. http://https://achasurveying.co1.qualtrics.com/jfe/form/SV_1SIY">
            </mat-form-field>
            <button mat-fab color="primary" type="button" aria-label="Example icon button with a delete icon" (click)="pre_url=!pre_url" style="margin-left: 15px;" [disabled]="CreateProjectForm.controls.pre_study_questionnaire.getRawValue()=='' || CreateProjectForm.controls.pre_study_questionnaire.getRawValue() == null ">
                <mat-icon>{{ pre_url ? 'visibility' : 'visibility_off'}}</mat-icon>
            </button>
            <div>
            <iframe *ngIf="pre_url" [src]="GetSafeURl(CreateProjectForm.controls.pre_study_questionnaire.getRawValue())" height="400px" width="500px"></iframe><br>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext type="button">Next</button>
            </div>
        </mat-step>
        <mat-step [stepControl]="CreateProjectForm.controls.questions_list">
            <ng-template matStepLabel>ChatGPT Question Prompts</ng-template>
            <h2 style="margin-top: 15px;margin-bottom: 0px;">Add Questions</h2>
            <div *ngIf="CreateProjectForm.controls.questions_list.value!=[]">
                <div *ngFor="let question of CreateProjectQuestions; index as i;trackBy: trackByMethod" style="margin-top: 15px;">
                    <h2>Question {{i+1}}:</h2>
                    <mat-form-field style="width: 500px !important;">
                        <mat-label>Question {{i+1}}</mat-label>
                        <input matInput placeholder="Ex. Asks ChatGPT to give 5 ideas on Science Fair projects." [(ngModel)]='CreateProjectQuestions[i]' [ngModelOptions]="{standalone: true}" required>
                    </mat-form-field>
                    <button mat-fab color="primary" type="button" aria-label="Example icon button with a delete icon" (click)="RemoveQuestion(i)" style="margin-left: 15px;">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <br>
            <button mat-fab color="primary" type="button" aria-label="Example icon button with a delete icon" (click)="AddQuestion()">
                <mat-icon>add</mat-icon>
            </button>
            <div style="margin-top: 15px;">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext type="button" [disabled]="CheckQuestions()">Next</button>
            </div>
        </mat-step>
        <mat-step [stepControl]="CreateProjectForm.controls.post_study_questionnaire">
            <ng-template matStepLabel>Post Study Questionnaire</ng-template>
            <mat-form-field style="margin-top: 15px;width: 500px !important;">
            <mat-label>Qualtrics Questionnaire Embed Link</mat-label>
            <input matInput formControlName="post_study_questionnaire" placeholder="Ex. http://https://achasurveying.co1.qualtrics.com/jfe/form/SV_1SIY">
            </mat-form-field>
            <button mat-fab color="primary"  type="button" aria-label="Preview Post Study Questionnaire" (click)="post_url=!post_url" style="margin-left: 15px;" [disabled]="CreateProjectForm.controls.post_study_questionnaire.getRawValue()=='' || CreateProjectForm.controls.post_study_questionnaire.getRawValue() == null ">
                <mat-icon>{{ post_url ? 'visibility' : 'visibility_off'}}</mat-icon>
            </button>
            <div>
            <iframe *ngIf="post_url" [src]="GetSafeURl(CreateProjectForm.controls.post_study_questionnaire.getRawValue())" height="400px" width="500px"></iframe><br>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext  type="button">Next</button>
            </div>
        </mat-step>
        <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button type="button" matStepperPrevious style="margin-right: 15px;">Back</button>
            <button mat-button type="button" (click)="stepper.reset();ResetFormData();" style="margin-right: 15px;">Reset</button>
            <button type="button" class="btn btn-primary" style="margin-right: 15px;" (click)="CreateStudy();">Create Study</button>
        </div>
        </mat-step>
    </mat-stepper>
    </form>
<button mat-button routerLink="/dashboard" style="margin-top: 25px;">Back to Dashboard</button>
</div>