<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://i.insider.com/64e3900db698ac0019de3b13?width=1136&format=jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy" style="border-radius: 50px;">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3" *ngIf='UserService.IsAuthenticated'>Hello {{UserService.CurrentUser.name}}!, You're a {{UserService.AccountType}}.</h1>
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3" *ngIf='UserService.CurrentUser == undefined'>Login or Register to get started!</h1>
        <p class="lead">Welcome to our platform designed to be the hub for participants and researchers in ChatGPT studies. Participants engage in conversations with ChatGPT, providing feedback on conversation quality, while researchers utilize advanced analytics tools to refine ChatGPT's algorithms, and analyse user data. It's where collaboration meets cutting-edge research, shaping the future of natural language processing.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" *ngIf="UserService.AccountType=='participant'" class="btn btn-primary btn-lg px-4 me-md-2">Go to Study</button>
          <button type="button" *ngIf="UserService.AccountType=='researcher'" class="btn btn-primary btn-lg px-4 me-md-2">Go to Dashboard</button>
        </div>
      </div>
    </div>
  </div>