<div style="padding:25px 50px;">
    <h1 mat-dialog-title><strong>Are you sure you want to delete the study titled:</strong><br>"{{data.study.study_name}}"</h1>
    <div mat-dialog-content>
        <p style="color: red;">Data cannot be recovered once deleted!</p>
    </div>
    <div mat-dialog-actions>
        <button type="button" class="btn btn-sm btn-outline-secondary" mat-button (click)="closeDialog()" style='margin-right: 15px;'>Go back</button>
        <button type="button" class="btn btn-sm btn-outline-secondary" mat-button (click)="deleteStudy(data.study.study_id)" style='margin-right: 15px;'>DELETE</button>
    </div>
</div>